<phpunit bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false"
         colors="false" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true">
    <testsuites>
        <testsuite>
            <file>tests/phpunit/tests/test-wp-simple-plugin.php</file>
        </testsuite>
    </testsuites>
</phpunit>